doctype html
html
    head 
        title D3 Lunch and Learn
        link(rel='stylesheet', href='/css/main.css')
    body
        h1 D3 Lunch and Learn
        #svgcontainer

    script(src="/lib/jquery/dist/jquery.js")
    script(src="/lib/d3/d3.js")
    script(src="/lib/underscore/underscore.js")
    script(src="/js/main.js")

