html
    min-width 100%
    helght 100%
    min-height 100%

body
    margin 20px
    padding 0px
    font-family "Helvetica Neue", Arial, sans-serif
    color #02243C

h1 
    font-size 42px
    margin-left 15px

.sidegrid
    stroke #02243C
    stroke-width 4px

.innergrid
    stroke #E6E6E6

rect
    shape-rendering crispEdges
    fill #5195CE
